body {
    color: #dedede;
    padding-top: 80px;
    background-color: #1c1f2b;
}

.endpoint {
    margin: 0 5px;
    padding: 20px 10px;
    color: #9dbed8;
    border: 1px solid #2d3143;
    background-color: #2d3143;
}

.endpoint .name {
    font-weight: bold;
    font-size: 1.2em;
}

.endpoint .url {
    font-size: 0.8em;
}

.endpoint-tests {
    margin-top: 30px;
}

.endpoint-tests-menu {
    padding: 15px 5px;
}

.endpoint-tests-timer {
    text-align: right;
    font-size: 1.6em;
    font-weight: bold;
}

.endpoint-tests-timer .label {
    font-variant: small-caps;
}

/*
 * Loading
 */

 .loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    opacity: 1;
    pointer-events: none;
	text-align: center;
}

.loading-container > img {
	width: 150px;
	vertical-align: middle;
}

.loading-container > span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}